* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ref-img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}